<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crossbowffs.debugkit">
    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="23"/>
    <application
        android:label="DebugKit">
        <activity android:name=".app.NotificationInfoActivity">
            <intent-filter>
                <action android:name="com.crossbowffs.debugkit.SHOW_NOTIFICATION_INFO"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <service
            android:name=".app.NotificationListener"
             android:label="Notification listener"
             android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>
        <meta-data
            android:name="xposedmodule"
            android:value="true"/>
        <meta-data
            android:name="xposeddescription"
            android:value="Tweaks to simplify app reverse engineering"/>
        <meta-data
            android:name="xposedminversion"
            android:value="2"/>
    </application>
</manifest>
